body {
    color:#161616;
}
 /*Effortless transitions when scrolling*/
html {
     scroll-behavior: smooth;
}
a {
    color: #161616;
}
.visually-hidden {
    display: none;
}
.card-category {
    background-color: #D73953;
}
.section-tagline {
    background-color: #D73953;
}
